.product-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-bottom: 10px;
  margin: 12px 20px;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 5px;
  overflow: hidden;
  width: 400px;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor: pointer;
}
.product-card p{
  margin: 12px 0 8px 0;
  font-size: 18px;
}
.product-card button{
  font-size: 18px;
  font-weight: 200;

  padding: 3px 0;
  background-color:#f8e5e5;
  width: 200px;
  border: none;
  border-radius: 6px;
}
.product-card button:hover {
  background-color: #aafaee;
}

.product-card:hover {
  transform: scale(1.07);
}
.product-card img {
  width: 310px;
  height: 260px;
}
